	#list1
	{
		text-align: center;
		list-style-type:none;
		margin:0;
		padding:0;
		padding-top:6px;
		padding-bottom:6px;
	}
	li
	{
		display:inline;
	}
		a:link,a:visited
	{	
		font-weight:bold;
		color:#FFFFFF;
		background-color:black;
		text-align:center;
		padding:6px;
		text-decoration:none;
	}
		a:hover,a:active
	{
		background-color:gray;
	}
	#banner{
		display: block;
		height: 200px;
		position: absolute;
		left: 60px;

	}
	#denglu{
			background-image:url(http://taylorpictures.net/themes/aqua/7.png);
			height: 148px;
			position: absolute;
			top: 257px;
			position: absolute;
			left: 60px;
			top:303px;
			text-align: center;

}
	#text{width: 1200px;}

	#search{position: absolute;
			top: 15px;
			left: 990px;}
	#news{position: absolute;
			top: 450px;
			left: 50px;
			font-family: 幼圆;
		}
	#intro{
		position: absolute;
		top: 468px;
		left: 500px;
		font-family: 幼圆;
		}
	#pic{position: absolute;
		top: 720px;
		left: 60px;
		width: 1500px;


	}


	.image img{
	width: 240px;
	height: 160px;
	display: inline;
	border: 1px solid #bebebe;
	float: left;




	}
	.b:hover{
	opacity: 1

	}
	.b{
	opacity: 0.5;

	}
	#footer

	{	text-align: center;
		position: absolute;
		top: 900px;
		left: 300px;
	}

